<template>
  <v-card max-width="450" class="mx-auto">
    <v-list>
      <template v-for="(item, index) in content" :key="index">
        <v-list-subheader
          v-if="item.header"
          :key="item.header"
          v-text="item.header"
        ></v-list-subheader>
        <v-divider
          v-else-if="item.divider"
          :key="index"
          :inset="item.inset"
        ></v-divider>
        <user-item v-show="item.title" :item="item" />
      </template>
    </v-list>
  </v-card>
</template>

<script lang="ts">
import { UserType } from "@/domain/Users/Users.types";
import { defineComponent, PropType } from "vue";
import UserItem from "./UserItem.vue";
export default defineComponent({
  props: {
    content: {
      type: Array as PropType<UserType[]>,
      required: true,
    },
  },
  components: {
    UserItem,
  },
});
</script>
