<template>
  <v-list>
    <v-list-item :prepend-avatar="item.avatar" :key="item.title" lines="three">
      <v-list-item-title v-html="item.title"></v-list-item-title>
      <v-list-item-subtitle v-html="item.subtitle"></v-list-item-subtitle>
    </v-list-item>
  </v-list>
</template>

<script lang="ts">
import { UserType } from "@/domain/Users/Users.types";
import { defineComponent, PropType } from "vue";

export default defineComponent({
  name: "UserItem",
  props: {
    item: {
      type: Object as PropType<UserType>,
      required: true,
    },
  },
});
</script>
