<template>
  <v-select
    v-model="selectedCountryFilter"
    :items="countryFilters"
    clearable
    label="Filter by country"
    @update:modelValue="changeFilter('country', $event)"
  ></v-select>

  <v-select
    v-model="selectedScoreFilter"
    :items="scoreFilters"
    item-title="title"
    item-value="fn"
    clearable
    label="Filter by score"
    @update:modelValue="changeFilter('scores', $event)"
  ></v-select>
</template>

<script lang="ts">
import { computed, defineComponent, PropType, Ref, ref, toRefs } from "vue";
import { ScoresType, UserType } from "@/domain/Users/Users.types";

export default defineComponent({
  props: {
    users: {
      type: Array as PropType<UserType[]>,
      required: true,
    },
  },
  emits: ["update:filter"],
  setup(props, { emit }) {
    const { users } = toRefs(props);
    const scores = computed(() =>
      users.value.map((user) => user.scores)
    ) as Ref<ScoresType[]>;
    const countryFilters = [
      ...new Set(users.value.map((user) => user.country)),
    ];
    const scoreFilters = [...new Set(scores.value)].map(
      (scores: number, index: number, arr: ScoresType[]) => {
        const isLast = arr.length - 1 === index;
        return {
          title: (isLast ? "<" : ">") + ` ${scores}`,
          fn: (value: number) => (isLast ? value < scores : value > scores),
        };
      }
    );
    const selectedScoreFilter = ref("");
    const selectedCountryFilter = ref("");

    const changeFilter = (field: string, value: unknown) => {
      emit("update:filter", { [field]: value });
    };

    return {
      scoreFilters,
      selectedCountryFilter,
      countryFilters,
      selectedScoreFilter,
      changeFilter,
    };
  },
});
</script>
