<template>
  <v-container>
    <v-row align="center" justify="center" class="ma-4">
      <v-col cols="12">
        <v-img
          :src="require('../assets/logo.svg')"
          class="my-3"
          contain
          height="200"
        />
      </v-col>

      <v-col cols="12" md="4">
        <users-filters
          v-if="isUsers"
          :users="users"
          @update:filter="updateFilter"
        />
      </v-col>
      <v-col cols="12" md="4">
        <v-progress-linear
          v-if="isLoading"
          color="deep-purple-accent-4"
          indeterminate
          rounded
          height="6"
        />
        <users-list v-else :content="filteredContent" />
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import { computed, defineComponent, onMounted, reactive, ref } from "vue";
import { UsersFilters } from "@/components/Users";
import { UsersList } from "@/components/Users";
import { ContentType, FilterType, UserType } from "@/domain/Users/Users.types";
import { useStore } from "vuex";
import { usersService } from "@/services/users";
export default defineComponent({
  components: {
    UsersFilters,
    UsersList,
  },
  setup() {
    const store = useStore();
    const content = ref<ContentType[]>([]);
    const users = computed(() =>
      content.value.filter((user) => user.country && user.scores)
    );

    const isUsers = computed(() => users.value.length > 0);

    const filters = computed(() => store.state.filtersModule.filters);

    const filteredContent = computed(() =>
      content.value.filter((item) => {
        if (!Object.keys(filters.value).length) return item;
        if (!item.title) return item;

        const conditions = Object.entries(filters.value).map(([key, value]) => {
          if (typeof value === "function")
            return value(item[key as keyof UserType]);
          return item[key as keyof UserType] === value;
        });

        const not = conditions.includes(false);
        if (!not) return item;
      })
    );

    const isLoading = ref(false);

    const updateFilter = async (filter: FilterType) => {
      isLoading.value = true;
      await new Promise((resolve) => {
        setTimeout(() => {
          resolve(store.dispatch("filtersModule/changeFilters", filter));
        }, 1000);
      });
      isLoading.value = false;
    };

    onMounted(async () => {
      isLoading.value = true;
      await usersService
        .getContent()
        .then((data) => {
          content.value = data;
        })
        .catch((e) => {
          console.log(e);
        })
        .finally(() => {
          isLoading.value = false;
        });
    });

    return {
      users,
      content,
      filteredContent,
      updateFilter,
      filters,
      isLoading,
      isUsers,
    };
  },
});
</script>
