<template>
  <v-app>
    <v-main>
      <ContentBlock />
    </v-main>

    <v-footer app v-bind="{ absolute: true, fixed: false }">
      <TheFooter />
    </v-footer>
  </v-app>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import ContentBlock from "@/components/ContentBlock.vue";
import TheFooter from "@/components/TheFooter.vue";

export default defineComponent({
  name: "App",

  components: {
    ContentBlock,
    TheFooter,
  },
});
</script>
